@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?4azjpk');
    src:  url('fonts/icomoon.eot?4azjpk#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4azjpk') format('truetype'),
    url('fonts/icomoon.woff?4azjpk') format('woff'),
    url('fonts/icomoon.svg?4azjpk#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cellar:before {
    content: "\e900";
}
.icon-desserts:before {
    content: "\e901";
}
.icon-drinks:before {
    content: "\e902";
    color: #fff;
}
.icon-food:before {
    content: "\e903";
}
.icon-mains:before {
    content: "\e904";
}
.icon-pasta:before {
    content: "\e905";
}
.icon-salads:before {
    content: "\e906";
}
.icon-soups:before {
    content: "\e907";
}
.icon-starters:before {
    content: "\e908";
    color: #fff;
}
.icon-traditions:before {
    content: "\e909";
}