@import url('fonts.css');

/* STYLE RESET START */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #ececec;
}
body * {
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 14px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	max-width: 100%;
}
/* STYLE RESET END */


/* CUSTOM STYLES START */

/* CUSTOM STYLES END */



/* HEADER STYLES START */
.header {
	max-height: 110px;
	background-color: rgba(255,255,255,.8);
	position: relative;
}
.header:before {
	content: "";
	display: block;
	padding-top: 14.4%;
}
.header-container {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.header-container .logo {
	width: 82px;
	height: 70px;
	max-height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.header-container .logo img {
	height: 90%;
	width: auto;
	max-width: initial;
}
/* HEADER STYLES END */



/* MAIN STYLES START */

.wrapper {
	max-width: 768px;
	height: 100vh;
	background-color: #000;
	margin: 0 auto;
}

.wrapper.welcome-page {
	background: url("../img/welcome-bg.jpg") 50% 50% no-repeat;
	-webkit-background-size: cover;
	        background-size: cover;
}

/* MAIN STYLES END */


/* FOOTER STYLES START */

/* FOOTER STYLES END */