@media screen and (min-width: 769px) {
    .header-container .back-btn {
        font-size: 46px;
    }

    .header-container .menu-btn {
        font-size: 46px;
    }

    .welcome-page__offer-info {
        padding-left: 169px;
    }

    .categories__block-item {
        padding-left: 138px;
        margin-bottom: 20px;
    }

    .subcategories__block-item span:last-child,
    .categories__block-item span {
        font-size: 24px;
        line-height: 48px;
    }

    .categories__block-item span:first-child {
        left: 45px;
    }

    .subcategories__block-item {
        padding: 21px 28px 20px;
    }

    .categories .header-container:after {
        width: 65px;
    }

    .subcategories__list-title {
        height: 80px;
    }

    .subcategories__list-title span {
        font-size: 30px;
    }
}

@media screen and (max-width: 600px) {
    .welcome-page__bottom-block {
        padding-left: 6%;
        padding-right: 6%;
    }

    .categories__block {
        margin: 0 20px;
    }

    .categories__block-item .icon:before {
        font-size: 10vw;
    }

    .subcategories__block-item .icon:before {
        font-size: 9vw;
    }

}

@media screen and (max-width: 530px) {
    .welcome-page__offer-img {
        opacity: .4;
    }

    .welcome-page__offer-info {
        padding: 15px;
        align-items: center;
    }
}

@media screen and (max-width: 480px) {
    .welcome-page .content {
        padding: 18px 0;
    }

    .welcome-page .welcome-page__title {
        margin-top: 10px;
    }

    .welcome-page__logo img {
        height: 70px;
    }

    .welcome-page__bottom-block {
        margin-top: 20px;
    }

    .welcome-page__offer-block {
        margin-top: 30px;
    }

    .welcome-page .welcome-page__title .welcome-page__title-small {
        line-height: initial;
        margin-top: 10px;
    }

    .welcome-page .welcome-page__title-small .fa-circle:before {
        line-height: initial;
    }

    span.welcome-page__offer-title {
        font-size: 30px;
    }

    span.welcome-page__offer-name {
        font-size: 18px;
    }

    .welcome-page__offer-prices > a {
        padding: 0 11px;
    }

    .welcome-page__language-item {
        border-width: 3px;
    }
}

@media screen and (max-width: 375px) {
    .welcome-page .welcome-page__title .welcome-page__title-big {
        font-size: 50px;
    }
}